<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Star Wars V</key>
	<dict>
		<key>Luke Skywalker</key>
		<string>Mark Hamill</string>
		<key>Han Solo</key>
		<string>Harrison Ford</string>
		<key>Leia Organa</key>
		<string>Carrie Fisher</string>
	</dict>
	<key>The Godfather</key>
	<dict>
		<key>Vito Corleone</key>
		<string>Marlon Brando</string>
		<key>Michael Corleone</key>
		<string>Al Pacino</string>
		<key>Sonny Corleone</key>
		<string>James Caan</string>
	</dict>
	<key>Frankenstein</key>
	<dict>
		<key>The Monster</key>
		<string>Boris Karloff</string>
		<key>Dr. Frankenstein</key>
		<string>Colin Clive</string>
	</dict>
	<key>Field of Dreams</key>
	<dict>
		<key>Ray Kinsella</key>
		<string>Kevin Costner</string>
		<key>Terence Mann</key>
		<string>James Earl Jones</string>
		<key>John Kinsella</key>
		<string>Dwier Brown</string>
	</dict>
	<key>Jaws</key>
	<dict>
		<key>Martin Brody</key>
		<string>Roy Scheider</string>
		<key>Matt Hooper</key>
		<string>Richard Dreyfuss</string>
		<key>Quint</key>
		<string>Robert Shaw</string>
	</dict>
	<key>Snow White</key>
	<dict>
		<key>Queen</key>
		<string>Lucille La Verne</string>
		<key>Snow White</key>
		<string>Adriana Caselotti</string>
	</dict>
	<key>Wizard of Oz</key>
	<dict>
		<key>Wicked Witch</key>
		<string>Margaret Hamilton</string>
		<key>Scarecrow</key>
		<string>Ray Bolger</string>
		<key>Dorothy</key>
		<string>Judy Garland</string>
	</dict>
</dict>
</plist>
